{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <form action="{{ url_for('about') }}" method="post">
        <fieldset>
        <p class="textbox" name="entry">
Welcome to this shitty little shit of mine. Over here you'll find the dumbest shit you've ever
seen. Get the fuck out if you don't like it. Yes it's a shitty site. Yeah it's extremely useless.
Yes it has a million security holes and bugs. Suck my tiny peen. SQL inject this shit idk. </p>
        <button class="btn btn-primary" type="submit">Go Back</button>
        </fieldset>
    </form>
{% endblock %}
