{% extends "layout.html" %}

{% block title %}
    TYRANNY
{% endblock %}

{% block main %}

    <h2>Who are you kidding?</h2>
    <br><br>
    <h4>Wanna ban some fags? No problem.</h4>
    <p>remember that time you banned yourself</p>
    <h5><a href="{{ url_for('ban') }}">ban</a></h5>
    <br>
    <h4>Wanna kill some fags? No problem.</h4>
    <p>just off yourself already</p>
    <h5><a href="{{ url_for('kill') }}">kill</a></h5>
    <br>
    <h5><a href="{{ url_for('bulk') }}">bulk delete posts</a></h5>
    <br>
    <h4>Change banner</h4>
    <form action="{{ url_for('admin') }}" method="post"><div style=" display:flex;">
        <input class="form-control" name="banner" placeholder="type fucker type" type="text"/>&nbsp;<button class="btn btn-default" type="submit" name="setbanr" value="setbanr">save</button>
        </div>
    </form>
    <br>
    <h5><a href="{{ url_for('sql') }}">execute sql</a></h5>

{% endblock %}