{% extends "layout.html" %}
{% block title %}
    Edit
{% endblock %}

{% block main %}
    <link href="new_style_entry.css" rel="stylesheet"/>
    <form action="{{ url_for('editPost') }}" method="post">
        <fieldset>

            <div class="entrybox">
                <textarea class="textbox" name="entry" style="height:400px;
                                                                font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
                                                                font-size: 82%;
                                                                overflow:scroll
                                                                wrap=hard;">{{text[0][3]}}</textarea>
            </div>
            <input class="form-control" name="title" value="{{text[0][2]|string}}" type="text"/>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Save</button>
            </div>
        </fieldset>
    </form>
{% endblock %}