{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <form action="{{ url_for('index') }}" method="post">
        <input class="form-control" name="tag" placeholder="Tag (optional)" type="text"/><button class="btn btn-default" type="submit" name="qtag" value="qtag">search</button>
    </form>
    <br>
    <!--<h5><a href="{{url_for('index')}}" type="button" method="post" value="new">new</a></h5>-->
    <font size="3"><a href="{{url_for('index', sort='new')}}"><input type="button" value="new"></a></font>
    <font size="3"><a href="{{url_for('index', sort='old')}}"><input type="button" value="old"></a></font>
    <font align=left margin-left=900 size="3"><a href="{{url_for('profile', type=user)}}"><input type="button" value="profile"></a></font>

    <br>
    {% for i in range(posts.__len__()) %}
        {% if posts[i][2] %}
            <td><a href="{{url_for('open_file', type=(posts[i][4]))}}">{{ posts[i][2] }}</a></td>
        {% else %}
            <td><a href="{{url_for('open_file', type=(posts[i][4]))}}">OP is blind.</a></td>
        {% endif %}
         <br>
        <h6>{{ (posts[i][3])[0:30] ~ '...' }}</h6>
        <br>
        <br>
        <br>
    {% endfor %}


{% endblock %}