{% extends "layout.html" %}

{% block title %}
    Open
{% endblock %}

{% block main %}
    <form action="{{ url_for('message') }}" method="post">
            <div class="entrybox">
                <textarea placeholder="say hi!" class="textbox" name="comment" style="height:40px;
                                                            font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
                                                            font-size: 100%;
                                                            overflow:scroll
                                                            resize:none;"></textarea>
            </div>
        <div class="form-group">
                <button class="btn btn-default" type="submit" name="button" value="postComment">send</button>
    </form>
    <br>
    <br>
    <h4><pre>Previous messages</pre></h4>
    <br>
    </table>
    {% for i in range(messages.__len__()) %}
        <td style="font-size: 80%">{{  messages[i][4]  }} on {{  moment(messages[i][5]).format('MMMM Do YYYY, h:mm:ss a')  }}</td><br>
        <td><h5>{{ messages[i][1] }}</h5></td>
        <br>
        <br>
    {% endfor %}
{% endblock %}
