{% extends "layout.html" %}
{% block title %}
    New Entry
{% endblock %}

{% block main %}
    <link href="new_style_entry.css" rel="stylesheet"/>
    <form action="{{ url_for('new_entry', sort='text') }}" enctype="multipart/form-data" method="post">
        <fieldset>
            <label for="file" class="custom-file-upload">
                add an image if you want :)
            </label>
            <input id="file" name="file" type="file" multiple=""/>
            <p>You can add a "!i!" to the text wherever you want an image to go. If you don't use the same number of "!i!"s as the number of images some might not show up and if you don't use them at all the images will show up at the bottom. Add all your files in one go or else it'll fuck everything up.</p>
            <div class="entrybox">
                <textarea class="textbox" name="entry" style="height:400px;
                                                                font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
                                                                font-size: 82%;
                                                                overflow:scroll
                                                                wrap=hard;"></textarea>
            </div>
            <div class="form-group">
                <input class="form-control" name="name" placeholder="Name" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="tag" placeholder="Tag (optional)" type="text"/>
            </div>
            <div class="form-group" autocomplete="off">
                <label>anonymous <input type="checkbox" name="opt" value="isanon"></label>
            </div>
            <div class="form-group" autocomplete="off">
                <label>hidden <input type="checkbox" name="opt" value="ishidden"></label>
            </div>
            <div class="form-group" autocomplete="off">
                <label>private domain <input type="checkbox" name="opt" value="isprivate"></label>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Save</button>
            </div>
        </fieldset>
    </form>
    <br><br><hr>
    <h1>Guide to Markdown</h1>
    <br>
    <h3>Headings</h3>
    <p>prepend any text with hashes to make them headings.</p>
    <p>html h1: #</p>
    <p>html h2: ##</p>
    <p>html h3: ###</p>
    <p>html h4: ####</p>
    <p>html h5: #####</p>
    <p>html h6: ######</p>
{% endblock %}