{% extends "layout.html" %}

{% block title %}
    Open
{% endblock %}

{% block main %}

    {% if post[0][5] == curr_username %}
        <form>
            <a href="{{url_for('editPost', type=post[0][4])}}" name="editPost" value="editPost">edit</a>
        </form>
    {% endif %}
    {% if post[0][5] == curr_username or session.perms == 'admin'%}
        <form action="{{ url_for('open_file') }}" method="post">
           <button name='button' type='submit' value="delete">delete</button>
        </form>
    {% endif %}

    <!--<form action="{{ url_for('open_file') }}" method="post">-->
        <!--<button class="btn btn-default" type="submit">Delete Post</button>-->
        <h2>{{ post[0][2] }}</h2>
        {%  if post[0][8] == 1  %}
            <h6>OP: anon</h6>
        {%  else  %}
            <h6>OP: <a href="{{url_for('profile', user=(post[0][5]))}}">{{ post[0][5] }}</a></h6>
        {%  endif  %}
            <h6>created {{  moment(post[0][1]).format('MMMM Do YYYY, h:mm:ss a') }}</h6>
        {%  if sent > 0  %}
            <font style="color: #008000" size="3">Sentiment: {{sent}}</font>
        {%  elif sent < 0  %}
            <font style="color: #FF0000" size="3">Sentiment: {{sent}}</font>
        {%  endif  %}
        <br>
        <!--<pre>{{ post[0]["body"] }}</pre>-->
        <!--<textarea readonly class="textbox" wrap="hard" name="entry" style="height:200px;
                                                width:800px;
                                                font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
                                                font-size: 82%;
                                                overflow:scroll;
                                                wrap=hard">{{ post[0][3] }}</textarea>-->
        {{  post[0][3]|markdown  }}

        <br>
        <p>tags: {{  post[0][7]  }}</p>
        <br>
        <br>
        <form action="{{ url_for('open_file') }}" method="post">
            <fieldset>
            <div class="entrybox">
                <textarea placeholder="post a comment" class="textbox" name="comment" style="height:40px;
                                                            font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
                                                            font-size: 100%;
                                                            overflow:scroll
                                                            resize:none;"></textarea>
            </div>
            <div class="form-group">

                <button class="btn btn-default" type='submit' name="button" value="postComment">Post</button>
            </div>
            </fieldset>
        </form>
    <!--</form>-->
    <br>
    <br>
    <h4><pre>Comments</pre></h4>
    <br>
    </table>
    {% for i in range(comments.__len__()) %}
        <td><a href="{{url_for('profile', user=(comments[i][2]))}}">{{ comments[i][2] }}</a> on {{  moment(comments[i][4]).format('MMMM Do YYYY, h:mm:ss a')  }}</td>
        <br>
        <td>{{ comments[i][3]|markdown }}</td>
        <br>
        <br>
    {% endfor %}
{% endblock %}
