{% extends "layout.html" %}
{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="{{ url_for('register') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email" type="text"/>
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="confirmation" placeholder="Password (again)" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Register</button>
            </div>
        </fieldset>
    </form>
    <h5>Honestly stop bitching about making an account. How'll you make posts without one?</h5>
    <p>And then there's some of you who think I can steal your password. No, I can't.
    Your passwords are hashed when stored, which means that they are turned into unrecognizable gibberish
    that no human can understand. Neither can the hashed gibberish be turned back into the actual shit, even
    with a computer. On the other hand, I can see your email address if I go so far as to looking for it in
    the database, but then again why would I waste time on that?</p>
{% endblock %}