{% extends "layout.html" %}
{% block title %}
    sql
{% endblock %}

{% block main %}
    <form action="{{ url_for('sql') }}" method="post">
        <fieldset>

            <div class="entrybox">
                <textarea class="textbox" name="sql" style="height:400px;
                                                                font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
                                                                font-size: 82%;
                                                                overflow:scroll
                                                                wrap=hard;"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">query</button>
            </div>
        </fieldset>
    </form>

{% endblock %}